.reveal {
    --slide-width: 1100px !important;
    font-size: 35px;
    text-align: left;
}

.very-small {
    font-size: 0.8em;
}

.small {
    font-size: 1em;
}

.medium {
    font-size: 1.4em;
}

.reveal .slides section:first-of-type h1 {
  font-size: 2em;
  font-weight: bold;
  color: #2F73C2;
  margin-top: -300px;
}


.reveal h5 {
  font-weight: bold;
  color: #A6311B;
}

.reveal h2 {
  font-size: 1.5em !important;
  text-align: center;
  margin-top: 0;
}
